<header>
    <div class="button-row">
        <button class="header-btn" matButton="outlined" routerLink="/" routerLinkActive="active">
            Home
        </button>
        <button class="header-btn" matButton="outlined" routerLink="/about" routerLinkActive="active">
            About Me
        </button>
        <button class="header-btn" matButton="outlined" routerLink="/projects" routerLinkActive="active">
            Projects
        </button>
        <button class="header-btn" matButton="outlined" routerLink="/contact" routerLinkActive="active">
            Contact
        </button>
    </div>


</header>