<footer>
    <div class="contacts">
        <h1>Let's Connect</h1>
        <div class="contact-row">
            <a class="contact-button" href="mailto:michellearubi0816@gmail.com">
                <img src="/email.png" alt="Email icon" width="24" height="24" />
                <span>Email</span>
            </a>
            <a class="contact-button" href="https://github.com/Marubi2017">
                <img src="/github.png" alt="GitHub icon" width="24" height="24" />
                <span>GitHub</span>
            </a>
            <a class="contact-button" href="https://www.linkedin.com/in/michelle-arubi-64a17bb1">
                <img src="/linkedin.png" alt="LinkedIn icon" width="24" height="24" />
                <span>LinkedIn</span>
            </a>
        </div>
    </div>
</footer>